<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'CSS/styles.css'%}"/>
    <title>My Django Project</title>
</head>
<body>
    <img src="{% static 'images/basic_index_image.jpg'%}" alt="Download error image">
    <h1>Index page</h1>
    <p>Name: {{ name }}, age: {{ age }}</p>
    <p>Address: {{ address.0 }}, house: {{ address.1 }}</p>
    <p>Language: {{ language.0 }}, {{ language.1 }}, {{ language.2 }}</p>
</body>
</html>