<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Index page</title>
</head>
<body>
<table>
    {{ form }}
</table>
<!--    <p>{% now "Y" %}</p>-->
<!--    <p>{% now "F j Y" %}</p>-->
<!--    <p>{% now "N, j, Y" %}</p>-->
<!--    <p>{% now "N j, Y, P" %}</p>-->
<!--    <p>{% now "y" %}</p>-->
<!--    {% if n > 0 %}-->
<!--        <p>Число положительное</p>-->
<!--    {% elif n < 0 %}-->
<!--        <p>Число отрицательное</p>-->
<!--    {% else %}-->
<!--        <p>Что-то пошло не так</p>-->
<!--    {% endif %}-->
</body>
</html>
<!--{% block title %}Index{% endblock title %}-->
<!--{% block header %}Главная{% endblock header %}-->
<!--<!DOCTYPE html>-->
<!--{% load static %}-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--&lt;!&ndash;    <link rel="stylesheet" href="{% static 'CSS/styles.css'%}"/>&ndash;&gt;-->
<!--&lt;!&ndash;    <title>My Django Project</title>&ndash;&gt;-->
<!--</head>-->
<!--<body>-->
<!--&lt;!&ndash;    <img src="{% static 'images/basic_index_image.jpg'%}" alt="Download error image">&ndash;&gt;-->
<!--&lt;!&ndash;    <h1>Index page</h1>&ndash;&gt;-->
<!--&lt;!&ndash;    <p>Name: {{ name }}, age: {{ age }}</p>&ndash;&gt;-->
<!--&lt;!&ndash;    <p>Address: {{ address.0 }}, house: {{ address.1 }}</p>&ndash;&gt;-->
<!--&lt;!&ndash;    <p>Language: {{ language.0 }}, {{ language.1 }}, {{ language.2 }}</p>&ndash;&gt;-->
<!--</body>-->
<!--</html>-->